@import "mixins";
@import "animated";
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');
@import url('https://fonts.googleapis.com/css?family=Courgette');

$lightGrey: rgba(248, 248, 248, 0.95);
$greyForm: rgb(169, 169, 169);

body {
  color: white;
  font-family: Roboto, sans-serif;
}

.red-text {
  color: red;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 35px;
  text-transform: uppercase;
  font-family: "Gloria Hallelujah", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
}

.navbar-custom {

  padding: 20px 0;
  font-size: 20px;

  a.navbar-brand {
    color: white;
    font-size: 34px;
    font-family: "Courgette", sans-serif;

    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;

  }

  .nav-custom {

    ul {
      a {
        color: white;

        -webkit-transition: .5s all ease-out;
        -moz-transition: .5s all ease-out;
        transition: .5s all ease-out;
      }

      li.active a {
        border-bottom: 3px solid black;
        color: black;
      }

      a:hover {
        color: black;
      }
    }

    .navbar-header .navbar-toggle {
      padding: 4px 20px;
      color: white;
    }

  }
}

.top-nav-collapse {
  padding: 0;
  background-color: $lightGrey;

  // changing color of text and button when scrolling
  a {
    color: black !important;
  }

  i {
    color: black;
  }

}

// media query for scrolling
@media (min-width: 767px) {
  .navbar {
    -webkit-transition: all .5s ease-in-out, padding .5s ease-in-out;
    -moz-transition: all .5s ease-in-out, padding .5s ease-in-out;
    transition: all .5s ease-in-out, padding .5s ease-in-out;
  }
}

// ---------------------------

@media screen and (max-width: 768px) {
  .navbar {
    -webkit-transition: all .5s ease-in-out, padding .5s ease-in-out;
    -moz-transition: all .5s ease-in-out, padding .5s ease-in-out;
    transition: all .5s ease-in-out, padding .5s ease-in-out;

    a,
    .navbar-toggle{
      color: black !important;
    }
    background: $lightGrey;
  }

  .navbar-toggle {
    color: white;
  }

  .navbar-brand {
    line-height: 30px;
  }
}

.home {
  background: black url("../img/01.jpg") 50% 50%;
  padding: 200px 0;

  background-size: cover;
  font-weight: bold;

  .brand-heading {

    margin: 30px 0 150px 0;
    font-size: 50px;
  }

  .brand-text {
    font-size: 30px;
    margin-bottom: 20px;
  }

}

.btn-theme {
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  padding: 15px 40px;
  border: 2px solid white;

  transition: background 0.3s ease-in-out;

  &:hover {
    color: black;
    background: white;
    font-weight: 700;
  }
}

@media screen and (max-width: 768px) {

  .brand-heading {
    font-size: 30px !important;
    margin-left: 20px !important;
    margin-bottom: 50px !important;
  }

  .brand-text {
    font-size: 20px !important;

    margin: 80px 0 20px 20px !important;
  }
  .btn-theme {
    margin: 20px;
  }
}

.services {

  p {
    font-size: 17px;
  }

  .spinning {
    -webkit-animation-name: fa-spin;
    -moz-animation-name: fa-spin;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
  }
  .icons {
    color: red;
    margin: 20px;
    padding: 10px;
    border: 2px solid red;
    line-height: 40px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    font-size: 40px;
  }

  .service-icon-hover {
    background-color: red;
    color: white;
  }
}

.section-info {
  position: relative;
  margin-bottom: 40px;

  .decorative-line {
    display: block;
    position: absolute;
    left: 48%;
    top: 60px;

    height: 2px;
    width: 50px;
    background: black;

    -webkit-transition: all .5s;
    transition: all .5s;
    -moz-transition: all .5s;
  }

  .section-header-text {
    line-height: 60px;
    font-size: 18px;
  }
}

@media screen and (max-width: 768px) {
  .decorative-line {
    left: 46%;
  }
}

.content {
  padding: 100px 0;
  color: #3c3c3c;
}

@media screen and (max-width: 767px) {
  .content {
    padding: 70px 0;
    color: #3c3c3c;
  }

  .section-info .section-header-text {
    margin-top: 20px;
    line-height: 26px;
  }

  .about {
    .about-us-text {

      :nth-last-child(2) {
        display: none;
      }
    }
  }
}

//  ABOUT US SECTION

.about {
  background: #F8F8F8;
  p {
    font-size: 17px;
  }

  .item {
    background: white;
    padding: 0 4px 20px 4px;
    transition: border-bottom 0.1s 0.1s;

    &:hover {
      border-bottom: 4px solid rgba(0, 0, 0, 0.6);
    }
  }

  .item-pic {
    position: relative;
    margin-bottom: 20px;
    -webkit-box-shadow: 2px 2px 14px 1px rgba(0, 0, 0, 0.68);
    -moz-box-shadow: 2px 2px 14px 1px rgba(0, 0, 0, 0.68);
    box-shadow: 2px 2px 14px 1px rgba(0, 0, 0, 0.68);
  }

  .about-us-text {
    margin-bottom: 20px;
  }

  .item-pic img {
    display: block;
  }

  .overlay {

    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background: rgba(149, 149, 149, 0.9);
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: all .5s ease;

    padding: 20px;

    p {
      color: white;
      margin-bottom: 30%;
    }

  }

  .socials-wrapper {
    position: relative;
    height: 100%;
    .socials {
      position: absolute;
      top: 90%;

    }
  }

  .socials li {
    display: inline-block;
    margin-right: 15px;

    a {
      color: white;
      font-size: 20px;

      &:hover {
        color: red;
      }
    }
  }

  .item-pic:hover .overlay {
    bottom: 0;
    height: 100%;
  }

  .team-member {
    text-align: center;
  }

  .teammate-name {

    font-size: 20px;
  }
}

@media screen and (max-width: 768px) {

  .overlay {
    .socials-wrapper {
      li {
        a {
          font-size: 25px;
        }
      }

    }
  }

}

// about us carousel styles

.owl-prev {
  width: 50px;
  height: 50px;
  font-size: 35px !important;
  border-radius: 50% !important;
  padding-left: 8px !important;
  padding-top: 6px !important;
  line-height: 35px;
  position: absolute;
  left: -80px;
  top: 30%;
  opacity: 1;
}

.owl-next {
  width: 50px;
  height: 50px;
  font-size: 35px !important;
  border-radius: 50% !important;
  padding-left: 12px !important;
  padding-top: 6px !important;
  line-height: 35px;
  position: absolute;
  top: 30%;
  right: -80px;
  opacity: 1;

}

// about-us carousel end
//--------------------------

//portfolio

#isotope-filter {
  margin: 50px 0 30px 0;

  a.current,
  a.active {
    color: red;
  }

  a {
    font-size: 20px;
    text-decoration: none;
    color: black;
    margin-right: 20px;

    &:hover {

      color: red;
    }

  }

}

.portfolio-wrap {
  position: relative;
  display: block;
  width: 100%;
  padding: 0px;
  margin-top: 15px;
  transition: height 450ms ease-out 0s;
  -webkit-transition: height 450ms ease-out 0s;
  -o-transition: height 450ms ease-out 0s;

  .single-portfolio {

    display: block;
    overflow: hidden;
    padding: 10px;

    figcaption {

      height: 100%;
      width: 100%;
      color: #222;
      right: 0;
      top: 35%;
      -webkit-transition: transform 0.35s ease 0s;
      -o-transition: transform 0.35s ease 0s;
      transition: transform 0.35s ease 0s;
      -webkit-transform: translate3d(0px, 100%, 0px);
      -ms-transform: translate3d(0px, 100%, 0px);
      -o-transform: translate3d(0px, 100%, 0px);
      transform: translate3d(0px, 100%, 0px);
      position: absolute;
      opacity: 0;

      img {
        -webkit-transition: .5s all ease-out;
        -moz-transition: .5s all ease-out;
        transition: 4s all ease-in;
      }

      h5 {
        margin-bottom: 10px;
      }

      .filter-value {
        margin-bottom: 20px;
      }

      .btn-theme {
        color: #fff;
        font-size: 15px;
        font-weight: 600;
        padding: 10px 30px;
        border: 2px solid white;
      }

    }

    // hover effects
    &:hover {

      figcaption {
        opacity: 1;
        -webkit-transition: transform 0.35s ease 0s;
        -o-transition: transform 0.35s ease 0s;
        transition: transform 0.35s ease 0s;
        -webkit-transform: translate3d(0px, 0px, 0px);
        -ms-transform: translate3d(0px, 0px, 0px);
        -o-transform: translate3d(0px, 0px, 0px);
        transform: translate3d(0px, 0px, 0px);
        cursor: pointer;

      }

      img {
        -webkit-box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.75);

        opacity: .4;
      }

      a {
        color: black;
        text-decoration: none;
      }

    }

    img {
      display: block;
      width: 100%;
      height: auto !important;
    }
  }

}

//portfolio end
//------------------------------

// get in touch section start

.get-in-touch {
  background: url("../img/03.jpg") no-repeat 50% 50% fixed;
  background-size: cover;
  position: relative;

  .red-wrap {
    padding: 100px 0;
    height: 100%;
    background: rgba(255, 0, 0, .5);
  }

  p {
    font-size: 25px;
    color: white;
    margin-bottom: 20px;
  }

  a:hover {
    color: red;
  }

}

//  get in touch section end
//--------------------------------

// blog start
.blog {

  img {
    margin-right: 0;
  }

  .img-responsive {
    margin: 0 20px 20px 0 !important;

  }

  .blog-readmore {
    letter-spacing: 3px;
  }

  .blog-item {
    padding: 0 0 30px 0;
    margin-bottom: 40px;
    border-bottom: 1px solid #d9d9d9;

    &:nth-child(2n-1) {
      display: flex;
      flex-direction: row-reverse;

    }

    &:last-child {
      border-bottom: none;
    }

    .blog-date {

      font-weight: 700;
      padding-top: 13px;
      text-align: center;
      vertical-align: middle;
      display: inline-block;
      float: left;
      border: 1px solid black;
      height: 70px;
      width: 70px;
      margin-right: 15px;
      font-size: 19px;
      line-height: 19px;

      .blog-date-month {
        font-weight: 500;
      }
    }

    .blog-item-title {
      display: inline-block;
      margin-bottom: 40px;

      .blog-title {
        font-size: 25px;
        text-transform: uppercase;
      }

      .blog-author {
        font-size: 17px;
        font-style: italic;
      }
    }
    p {
      font-size: 17px;
      margin-bottom: 35px;
    }

    a {

      font-size: 17px;
      font-weight: bold;
      text-decoration: none;

      &:hover {
        color: black;

      }
    }

  }
}

// blog iphone media
@media screen and (max-width: 450px) {
  .blog {
    .blog-item {

      &:nth-child(2n-1) {
        display: block;
      }

      .blog-date {
        width: 50px;
        height: 50px;
        font-size: 15px;
        line-height: 15px;
        padding-top: 10px;
      }

      .blog-item-title {
        margin-bottom: 15px;

        .blog-title {
          font-size: 16px;

        }

        .blog-author {
          font-size: 14px;
        }
      }
    }
  }
}

//blog tablets media
@media screen and (max-width: 768px) {
  .section-info {
    h2 {
      font-size: 26px;
    }

    .section-header-text {
      margin-top: 50px;
    }
  }

  .blog {
    .blog-item {
      .blog-date {
        width: 60px;
        height: 60px;
        font-size: 17px;
        line-height: 17px;
      }

      .blog-item-title {
        margin-bottom: 20px;
        .blog-title {
          font-size: 23px;
        }
      }
    }

  }
}

@media screen and (max-width: 991px) {
  .blog {
    .blog-item {
      .blog-date {
        width: 60px;
        height: 60px;
        font-size: 17px;
        line-height: 17px;
      }

      .blog-item-title {
        margin-bottom: 20px;
        .blog-title {
          font-size: 18px;
        }
      }
    }

  }
}

//blog end
//-----------------------------------

// clients start
.clients {
  background: #eee;

  //slider img
  .swiper-slider {
    @include position(relative);
    @include size(100%);
    overflow: hidden;
    margin-bottom: 50px;
  }

  .swiper-clients-img {
    display: block;
    @include size(190px, auto);
    margin: 0 auto;
    opacity: 1;
    cursor: pointer;
    @include cubic-transition($delay: 0, $duration: 200ms,
    $property: (all));

    &:hover {
      opacity: 0.8;
      @include cubic-transition($delay: 0, $duration: 200ms,
      $property: (all));

    }
  }
  //slider img end

  //carousel
  .owl-theme .owl-dots .owl-dot.active span,
  .owl-theme .owl-dots .owl-dot:hover span {
    background: red;
  }

  .client-item {
    margin-bottom: 25px;

    .quote {
      font-size: 20px;
      font-style: italic;
      margin-bottom: 30px;
    }

    .client-name {
      font-size: 25px;
      font-weight: bold;
    }

  }
  //carousel end

}

//clients end
//------------------------------------

//contact start

.contact {
  .contact-info {
    margin-bottom: 20px;

    .contact-info-title {
      display: block;
      font-size: 20px;
      margin-bottom: 10px;

      i {
        margin-right: 10px;
      }
    }
    .contact-info-text {
      margin: 10px 0 10px 20px;
    }
  }

  .contact-form {

    input {
      width: 100%;
      margin-bottom: 20px;
      height: 50px;
      padding-left: 20px;

      &:required:valid{
        border-color: green;
      }

      &:required:invalid{
        border-color: red;
      }
    }

    .form-message {

      textarea {
        width: 100%;;
        padding: 20px;
        resize: none;
      }
      padding: 0 !important;
      margin-bottom: 10px;
    }

    button {
      float: left;
      letter-spacing: 1px;
      font-weight: 500;
      color: $greyForm;
      border: 1px solid $greyForm;
      border-radius: 0;
      padding: 10px 20px;
      background-color: #fff;

      &:hover {
        background-color: red;
        color: white;
      }
    }

    p {
      font-size: 16px;
      line-height: 38px;
    }

  }
}

@media screen and(max-width: 767px) {
  .our-contacts {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .contact-form {
    p.form-tip {
      line-height: 43px;
    }
  }

}

@media screen and (max-width: 500px) {
  .our-contacts {
    display: none;
  }

  p.form-tip{
    display: none;
  }

}

//contact end
//-----------------------------------

footer {
  background: red;
  color: white;
  position: relative;

  ul {
    padding-left: 0;
    color: white;
    list-style: none;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;

    li {
      display: block;
      width: 50px;
      height: 50px;
      border: 2px solid white;
      border-radius: 50%;
      margin-left: 30px;
      padding-top: 10px;

      &:hover {

        border-color: black;
      }

      a {
        padding: 10px;
        color: white;

        &:hover {
          color: black;

        }
      }

    }

  }

  .decorative-line {
    display: block;
    position: absolute;
    left: 48%;
    top: 70%;

    height: 2px;
    width: 50px;
    background: white;
  }

  p.copy {
    color: white;
    font-size: 30px;
  }
}

@import "back-to-top";